.body{
    background-color: rgba(177, 165, 165, 0.541);
}
.header{
    display: flex;
}
.paragraph{
    padding: 10% 20% 10% 0%;
}
.head{
    font-family: 'Berkshire Swash', cursive;
}
.card{
    border: 1px solid rgb(247, 231, 188);
    border-radius: 0;
}
.full-card{
    padding-left: 1%;

}

.second-section{
    padding-top: 1%;
}

.bar{
    margin-left: 12%;
}