
.header{
    display: flex;
}
.paragraph{
    padding: 10% 20% 10% 0%;
}
.head{
    font-family: 'Berkshire Swash', cursive;
}
.full-card{
    padding-left: 1%;

}

.second-section{
    padding-top: 1%;
}